.tabs {
  display: flex;
  flex-direction: row;
  background-color: #ea7575;
  color: #f0f0f0;
  align-items: center;
}

.logo {
  padding-left: 1.5rem;
  font-size: 2rem;
}

.tabList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.tabList li {
  margin-right: 1rem;
}

.title {
  font-size: 5rem;
  text-align: center;
  padding-top: 2rem;
  color: #ea7575;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boardSetting {
  margin: 1rem;
  background-color: #c4cce1;
  padding: 1rem;
  border-radius: 10%;
}

.boardSetting:hover {
  cursor: pointer;
  background-color: #ea7575;
}

.boardNum {
  /* visibility: hidden; */
  display: none;
  text-align: center;
  background-color: #c4cce1;
  padding: 0.3rem 0rem;
  margin: 0.7rem 2rem;
  border-radius: 10%;
}

.selected {
  background-color: #ea7575;
}

.boardNum:hover {
  cursor: pointer;
  background-color: #6a8be7;
}

.playerNum {
  /* visibility: hidden; */
  display: none;
  text-align: center;
  background-color: #6a8be7;
  padding: 0.3rem 0rem;
  margin: 0.7rem 2rem;
  border-radius: 10%;
}

.big-container {
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 10rem 2rem 10rem;
}

.turns-container {
  padding-top: 3rem;
  text-align: center;
}

.square {
  flex: 1 0 13%;
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
  font-size: 2.5rem;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.squareFace {
  border-radius: 10%;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.squareFront {
  background-color: #6a8be7;
}

.squareBack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea7575;
  transform: rotateY(180deg);
}

.squarePaired {
  border-radius: 10%;
}

.squarePaired .squareFront {
  background-color: #c4cce1;
}

.square.is-flipped {
  transform: rotateY(180deg);
}

.square:hover {
  cursor: pointer;
}

.square.squarePaired:hover {
  cursor: not-allowed;
}
